web-ext-artifacts/*
.idea/*
icon_new.psd
manifest.json
background_mv2.js
run-android.bat
.vscode/*
node_modules/*
package-lock.json
package.json
eslint.config.js
.claude/*
content-components/ui_dataclasses.js
content-components/ui_dataclasses.js
*.png
*.psd